

.main {
    color: #CCC;
    border: 0px solid #aaaaaabf;
    border-radius: 5px;
    box-shadow: 0 2px 7px #00000040;
    background: #000000cc;
    padding: 20px;
    padding: 45px;
    max-width: 900px;
    min-height: 320px;
    height: fit-content;
    margin-left: 180px;
}

h1 {
    margin-top: 20px;
    text-decoration: none;
    font-family: Arial, sans-serif;
    font-size: 2.2rem;
    border-bottom: 0.5px solid white;
    font-family: sans-serif;
    font-weight: 200;
}

@media (max-width: 1024px) { 
    h1 {
        font-size: 1.8rem;
    }
    body { 
        padding-left: 80px;
    }
    #gold {
        width: 348px;
    }
}

@media (max-width:768px) { 
    h1 { 
        font-size: 1.4rem;
    }
    body {
        padding-left: 40px;
    }
}

h2,
h3,
h4,
h5,
h6 { 
    text-decoration: none;
    font-family: Arial, sans-serif;
    color:#ccc;
    font-size: 1.2rem;
}

article { 
    text-decoration: none;
    font-family: Arial, sans-serif;
}


.supergold-jpg {
    flex: 0 0 70%;
    max-width: 80%;
}

.BC1-jpg { 
    flex: 0 0 70%;
    max-width: 80%;
}

.bc-forward 
{   p {
    font-size: 1rem;
    font-family: Arial,sans-serif;
 }  a { 
       font-size: 16px; 
}   em { 
        font-size: 16px;
    }
margin-left: 20px;
}

h4,
h5 {
    margin-bottom: -2px;
}

/* .tocnumber, .toctext {
    display: table-cell;
    text-decoration: inherit;
}

#toc {
    ul {
    list-style: none;
    }
}

ul .tocnumber {
    padding-left: 0;
    padding-right: 0.5em;
    color: #fff;
}

ul .toclevel-1 {
    margin-left: 0px;
}

ul .toclevel-2 {
    margin-left: 70px;
    font-size: 16px;
}

*/

.contents { 
    margin-left: 200px;
    font-family: Arial, sans-serif;
    font-weight: 100;
    font-size: 13px;
}

.lvl1 {
    font-family: Arial, sans-serif;
    list-style: none;
    text-decoration: none;
} 

.lvl1 {
} a:hover {
    color: white;
    text-decoration: underline;
}
 .tocnumber {
    color: #CCC;
    margin-right: 3px;
}  a {
    color: #68a527;
    font-family: sans-serif;
    font-size: 16px;
    text-decoration:none;
    cursor: pointer;
    transition: color 0.3s ease;
    border-radius: 3px;
    width: fit-content ;
}

.lvl2 {
    list-style: none;
    margin-left: 30px;
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    gap: 4px;
}

.button a {
    font-size: 12px;
}

.button a:hover {
    color: #68a527;
}