

body { 
    padding-left: 114px;
    padding-top: 80px;
    height: fit-content;
    padding-right: 30px;
}

a {
    color: #68a527;
    font-family: sans-serif;
    font-size: 12px;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s ease;
    border-radius: 3px;
    width: fit-content ;
}

a:hover { 
    color: white;
    text-decoration: underline;
}


body { 
    background-image: url(/april_fools_day_2024/resources/Summer_wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    /* border: 0px;
    padding: 0px;
    padding: 0px; */
}

@media (max-width: 1024px) { 
    h1 {
        font-size: 1.8rem;
    }
    body { 
        padding-left: 80px;
    }
}

@media (max-width:768px) { 
    h1 { 
        font-size: 1.4rem;
    }
    body {
        padding-left: 40px;
    }
}